<h1 id="margin" class="about">About Me</h1>
<h3 class="about">I live with my 3 year old son, Sebastian, and my cat Justine.  Sebastian is the <em>love</em> of my life.</h3>
<h3 class="about">My favorite past-time is watching art films in the theater proper</h3>
<h3 class="about">I love rock and roll and have djed at various clubs in Salt Lake City, Utah off and on for 17 years.</h3>
<h3 class="about">I practice yoga daily, and will eventually study plant medicine to learn about creating balance in the systems of the body.</h3>
<h3 id="center">Return <a routerLink="/">home</a>.</h3>
