<div class="marginTop">
  <h3 class="about">I am currently living in Portland, Oregon.  As a Junior Developer, I specialize in Ruby and JavaScript.  I have experience with SQL, Sinatra, Angular, and Ruby on Rails.  I have a Bachelors in Film and a Bikram Yoga Instructor's Certificate. Would you like to learn a little more <a routerLink="about">about me</a>, my <a routerLink="profession">professional history</a>, or view some of my <a routerLink="projects"> projects</a>?</h3>
  <br><br><br>
</div>
