
#marginName {
  margin-left: 80px;
  margin-top: 120px;
  margin-bottom: 135px;
  font-size: 60px;
  font-family: cursive;
}

#trim {
  height: 300px;
  float: right;
  margin-right: 30px;
  margin-top: 10px;
  /*width:230px;
  height:250px;
  overflow:hidden*/
  border-radius: 30%;
}

.box {
  margin-top: 10px;
  margin-right: 10px;
  margin-left:  10px;
  outline: thick ridge purple;
  /*border: 5px solid;*/
  padding: 20px;
  color: purple;
}

.icoSize {
  height: 25px;
  margin: 10px;
}

#panelColor {
  background-color: #d2d4dc;
}
