<h1 id="margin" class="about">Professional Work</h1>
<ul class="about">
  <li><h3>January 2000 - May2003: I danced with Utah Regional Ballet II</h3>
  </li>
  <li><h3>September 2005 - now: I teach Bikram Yoga</h3></li>
  <li><h3>May 2006 - July 2017: I have waited tables at
    <ul>
      <li><h3>Blue Plate Diner, SLC,Utah</h3></li>
      <li><h3>Squatters Pub, Park City,Utah</h3></li>
      <li><h3>Sage's Cafe, SLC,Utah</h3></li>
      <li><h3>Eva Slc,Utah</h3></li>
    </ul></h3></li>
  <hr>
  <h1 id="margin" class="about">Certifications</h1>
  <ul class="about">
    <li><h3>August 2005: Bikram Yoga Teaching Certificate.</h3></li>
    <li><h3>December 2010: Final Cut Pro Certificate Level 1.</h3></li>
    <li><h3>May 2012: Bachelors in Film from the University of Utah.</h3></li>
    <li><h3>February 2018: Graduated from Epicodus.</h3></li>
  </ul>
  <hr>
  <h1 id="margin" class="about">Accolades/Positions</h1>
  <li><h3>December 2009 - September 2013: I volunteered as a programmer for the Salt Lake City Film Festival.</h3></li>
  <li><h3>August 2010 - May 2012: Was nominated to serve on the Student Advisory Committee at the University of Utah.</h3></li>
  <li><h3>May 2012: Graduated as Outstand Senior of my class.</h3></li>
</ul>
<br><br><br>
<h4 id="center">Return <a routerLink="/"> home</a>.</h4>
